{% extends 'base.html' %}
{% block content %}

<h1>Festival Details</h1>

<div class="row">
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<span class="card-title">{{ festival.name }}</span>
                <p>Date: {{ festival.date }}</p>
                <p>Website: <a href="{{ festival.website }}">{{ festival.website }}</a></p>
                <p>Genre: {{ festival.genre }}</p>
                <p>Description: {{ festival.description }}</p>
                <p>Location: {{ festival.location }}</p>
                <p>Attendance: {{ festival.attendance }}</p>
			</div>
			<div class="card-action">
				<a href="{% url 'festivals_update' festival.id %}">Edit</a>
				<a href="{% url 'festivals_delete' festival.id %}">Delete</a>
			</div>
		</div>
	</div>
</div>

<!-- This is all new markup to be added just above the <script> tag -->
<hr>
<div class="row">
	<div class="col s6">
		<h3>{{ festival.name }}'s Tickets</h3>
		{% if festival.tickets.count %}
		{% for ticket in festival.tickets.all %}
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					<p>A {{ ticket.type }} for {{ ticket.name }}></p>
				</span>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<h5>No Tickets Available :(</h5>
		{% endif %}
	</div>

	<!-- Available toys will come after this line -->
	<div class="col s6">
		<h3>Available Tickets</h3>
		{% if tickets.count %}
		{% for ticket in tickets.all %}
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					<p>A {{ ticket.type }} ticket for {{ ticket.name }}</p>
				</span>
			</div>
			<div class="card-action">
				<form action="{% url 'assoc_ticket' ticket.id ticket.id %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn">Add</button>
				</form>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<h5>{{festival.name}} Already Has All Tickets Available</h5>
		{% endif %}
	</div>
</div>


<script>
	const dateEl = document.getElementById('id_date');
	M.Datepicker.init(dateEl, {
		format: 'yyyy-mm-dd',
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	})

	const selectEl = document.getElementById('id_meal');
	M.FormSelect.init(selectEl)
</script>

{% endblock %}